#navigator-toolbox {
  padding: 8px !important;
  gap: 4px !important;
  border: none !important;  
}

#main-menubar {
  padding: 4px 2px;
}

#main-menubar menu {
  border-radius: 10px !important;
  padding: 2px 4px !important;
}

#main-menubar menu[_moz-menuactive=true] {
  background: white;
  padding: 5px;
}

#PersonalToolbar, #tab-notification-deck {
  display: none !important;;
}

.titlebar-buttonbox-container {
  position: absolute;
  background: black;
  top: 8px;
  right: 8px;
  height: 40px;
}

.titlebar-buttonbox {
  background: black;
  border-radius: 10px;
  overflow: clip;
}

.titlebar-buttonbox-container::before {
  position: absolute;
  display: block;
  pointer-events: none;
  content: '';
  background: linear-gradient(to right, transparent, black);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: translateX(-100%);
}

#alltabs-button {
  display: none !important;
}

.urlbar-input-box {
  margin-left: 9px;
}

#urlbar-input::selection {
  background-color: #333 !important;
}

#urlbar-input {
  border: none !important;
  background: none !important;
}

#navigator-toolbox * {
  transition: .2s all;
}

#nav-bar-customization-target {
  height: auto !important;
}

#navigator-toolbox box, #navigator-toolbox .urlbar-page-action, .toolbarbutton-1 {
  border-radius: 20px !important;
}

#urlbar-container::selection {
  background: white !important;
}

#urlbar {
  background: #222 !important;
  border-radius: 20px !important;
}

#urlbar:has(#urlbar-input[aria-expanded="false"]) {
  width: calc(100% - 4px) !important;
}

#urlbar-container {
  background: #222 !important;
  padding: 4px !important;
  border-radius: 60px !important;
}

.urlbar-input-box {
  width: auto !important;
}

#urlbar-background {
  display: none !important;
}

#page-action-buttons {
  display: none !important;
}

#tabbrowser-tabs {
  margin: 0 auto;
  max-width: 70%;
}

#tabbrowser-arrowscrollbox > tab:first-child {
  margin-left: auto !important;
}

#tabbrowser-arrowscrollbox > hbox {
  margin-right: auto !important;
}

.tab-content {
  gap: 2px !important;
}

.tab-icon-image {
  border-radius: 10px;
}

.tab-close-button {
  border-radius: 10px !important;
  margin-left: 10px !important;
}

.tabbrowser-tab:not(:hover) .tab-close-button {
  display: none;
}

.tabbrowser-tab[selected=true] .tab-background {
  background: #222 !important;
}

.tabbrowser-tab .tab-background {
  border-radius: 20px !important;
}

.tabbrowser-tab[label="New Tab"] .tab-icon-image {
  display: none !important;
}

#nav-bar.browser-toolbar {
  background-color: black !important;
  border: none !important;
}

.titlebar-spacer {
  display: none;
}

#fxa-toolbar-menu-button {
  display: none;
}

.toolbarbutton-icon {
  border-radius: 0 !important;
  z-index: 1;
}

.toolbarbutton-1 * {
  background: none !important;
}

.toolbarbutton-1 {
  overflow: hidden;
  padding: none !important;
  border-radius: 30px !important;
}

.toolbarbutton-1:hover {
  background: var(--toolbarbutton-hover-background) !important;
}

:root {
  --toolbarbutton-border-radius: 20px !important;
  --toolbarbutton-inner-padding: 12px !important;
}